
<div id="visit_location_container" class='centered' 
    style="width:800px; height:800px;; background: url('/assets/512px-Loader.gif'); background-repeat:no-repeat; background-position: center"></div>

<script type="text/javascript">

        $(function () { 
                $.getJSON('/async/visits', 
                                {
                                    ids: gon.ids,
                                    chart: 'visit_location_heatmap'
                                },
                                function(data) {
                     $('#visit_location_container').highcharts({ 
                        chart: {
                            type: 'heatmap',
                            zoomType: 'xy',
                            style: {
                              fontFamily: 'Arial, Helvetica, Clean, sans-serif'
                            },
                            events: {
                              load: function() {
            	                        document.getElementById('container').style.background = 'none';
                                    }
                            }
                        },
                        boost: {
                            useGPUTranslations: true
                        },
                    
                        title: {
                            text: 'Where Visitors Go'
                        },
                    
                        xAxis: {
                            max: 255,
                            title: null
                        },                    
                        yAxis: {
                            max: 255,
                            title: null,
                            endOnTick: false
                        },
                    
                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },
                    
                        colorAxis: {
                            minColor: '#367bc7',
                            maxColor: '#F99F4A',
                            min: 0,
                            max: data.max,
                            startOnTick: false,
                            endOnTick: false,
                            labels: {
                                format: '{value} mins'
                            }
                        },
                    
                        series: [{
                            name: 'Location of Visits',
                            borderWidth: 0,
                            data: data.data,
                            boostThreshold: 500,  // Boost when there are more than 1
                        }]

                    }); 
                });
            });


</script>