   <!--main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo">
                                    <a href="index.html">
                                        <%= image_tag('logo_name_48x315.png') %>
                                    </a>
                                </figure>
                                <div class="text">
                                    <p><%= I18n.t('web_site.mission_statement') %></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="blog-masonry.html">Company History</a></li>
                                        <li><a href="blog-masonry.html">About Us</a></li>
                                        <li><a href="blog-masonry.html">Contact Us</a></li>
                                        <li><a href="blog-masonry.html">Services</a></li>
                                        <li><a href="blog-masonry.html">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-3 col-md-6 col-sm-12 footer-column">-->
                        <!--    <div class="footer-widget links-widget">-->
                        <!--        <div class="widget-title">-->
                        <!--            <h3>Services</h3>-->
                        <!--        </div>-->
                        <!--        <div class="widget-content">-->
                        <!--            <ul>-->
                        <!--                <li><a href="blog-masonry.html">Company History</a></li>-->
                        <!--                <li><a href="blog-masonry.html">About Us</a></li>-->
                        <!--                <li><a href="blog-masonry.html">Contact Us</a></li>-->
                        <!--                <li><a href="blog-masonry.html">Services</a></li>-->
                        <!--                <li><a href="blog-masonry.html">Privacy Policy</a></li>-->
                        <!--            </ul>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li>Flat 20, Reynolds Neck, North Hele naville, FV77 8WS</li>
                                        <li><a href="tel:23055873407">+2(305) 587-3407</a></li>
                                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <!--<li><a href="blog-masonry.html"><i class="fab fa-facebook-f"></i></a></li>-->
                                    <li><a href="blog-masonry.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="blog-masonry.html"><i class="fab fa-discord"></i></a></li>
                                    <!--<li><a href="blog-masonry.html"><i class="fab fa-linkedin-in"></i></a></li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="index.html">SLapp Data</a> &copy; 2021 All Right Reserved</p>
                </div>
                <!--<ul class="footer-nav pull-right">-->
                <!--    <li><a href="blog-masonry.html">Terms of Service</a></li>-->
                <!--    <li><a href="blog-masonry.html">Privacy Policy</a></li>-->
                <!--</ul>-->
            </div>
        </div>
    </footer>
     <!--main-footer end -->


