
<div id="employee_tip_counts_histogram_containter" style="width:600px; height:400px;" ></div>

<script type="text/javascript">

        $(function () {
                // var processed_json = new Array();   
                $.getJSON('/async/tips?chart=employee_tip_counts_histogram', function(data) {
                    // Populate series
                    // for (i = 0; i < data.length; i++){
                    //     processed_json.push([data[i].key, data[i].value]);
                    // }
                 
                    // draw chart
                     $('#employee_tip_counts_histogram_containter').highcharts({ 
                        chart: {
                            style: {
                              fontFamily: 'Arial, Helvetica, Clean, sans-serif'
                            }  
                        },
                    
                        title: {
                            text: 'Tip Counts by Employees'
                        },
                    
                        xAxis: [{
                            alignTicks: false,
                            visible: false
                        }, {
                            title: { text: 'Tip Counts by Employees' },
                            alignTicks: false
                        }],
                    
                        yAxis: [{
                            visible: false
                        }, {
                            title: { text: 'Count' }
                        }],
                    
                        plotOptions: {
                            histogram: {
                                accessibility: {
                                    pointDescriptionFormatter: function (point) {
                                        var ix = point.index + 1,
                                            x1 = point.x.toFixed(3),
                                            x2 = point.x2.toFixed(3),
                                            val = point.y;
                                        return ix + '. ' + x1 + ' to ' + x2 + ', ' + val + '.';
                                    }
                                }
                            }
                        },
                        
                        legend: {
                        	enabled: false
                        },
                    
                        series: [{
                            name: 'Tip Counts by Employees',
                            type: 'histogram',
                            binsNumber: 'rice',
                            xAxis: 1,
                            yAxis: 1,
                            baseSeries: 's1',
                            zIndex: -1
                        }, {
                            name: 'Data',
                            visible: false,
                            type: 'scatter',
                            data: data,
                            id: 's1',
                            marker: {
                                radius: 1.5
                            }
                        }]
                    }); 
                });
            });


</script>