<div id="tips_timeline_container" class="centered" 
     style="width:1200px; height:600px; background: url('/assets/512px-Loader.gif'); background-repeat:no-repeat; background-position: center"></div>

<script type="text/javascript">

$(function () {
        // var processed_json = new Array();   
  $.getJSON('/async/tips', 
                  {
                      chart: 'tips_timeline'
                  },
                  function(data) {

      // draw chart
       $('#tips_timeline_container').highcharts({ 
          chart: {
            type: 'spline',
            zoomType: 'x',
            style: {
              fontFamily: 'Arial, Helvetica, Clean, sans-serif'
            },
            events: {
               load: function() {
                        document.getElementById('container').style.background = 'none';
                      }
            }
          
          },
          title: {
            text: 'Daily Tips Over Time'
          },
          xAxis: {
            allowDecimals: false,
            type: 'datetime',
            categories: 
               data.dates,
            accessibility: {
                // rangeDescription: 'Range: 1940 to 2017.'
            }
          },
          yAxis: [{
          title: {
          	text: 'Number of tips',
            style: {
              color: Highcharts.getOptions().colors[0]
            }
          },
          labels: {
            style: {
              color: Highcharts.getOptions().colors[0]
            }
          }
          }, {
          title: {
          	text: 'Amount Tipped',
            style: {
              color: Highcharts.getOptions().colors[1]
            },
          },
          labels: {
            style: {
              color: Highcharts.getOptions().colors[1]
            }
          },
          opposite: true
          }],
          series: [{
            name: 'Tips',
            yAxis: 0,
            data: data.counts
          }, {
            name: 'Amount Tipped',
            yAxis: 1,
            data: data.amounts,
            opposite: true
          }]
    });
  });
});


</script>