
<div id="tippers_histogram_container" style="width:600px; height:400px;" ></div>

<script type="text/javascript">

        $(function () { 
                $.getJSON('/async/tips?chart=tippers_histogram', function(data) {
   
                     $('#tippers_histogram_container').highcharts({ 
                        chart: {
                            style: {
                              fontFamily: 'Arial, Helvetica, Clean, sans-serif'
                            }  
                        },
                    
                        title: {
                            text: 'Frequency of Total Tip Amounts by Tipper'
                        },
                    
                        xAxis: [{
                            alignTicks: false,
                            visible: false
                        }, {
                            title: { text: 'Amount Tipped($L)' },
                            alignTicks: false
                        }],
                    
                        yAxis: [{
                            visible: false
                        }, {
                            title: { text: 'Count' }
                        }],
                    
                        plotOptions: {
                            histogram: {
                                accessibility: {
                                    pointDescriptionFormatter: function (point) {
                                        var ix = point.index + 1,
                                            x1 = point.x.toFixed(3),
                                            x2 = point.x2.toFixed(3),
                                            val = point.y;
                                        return ix + '. ' + x1 + ' to ' + x2 + ', ' + val + '.';
                                    }
                                }
                            }
                        },
                        
                        legend: {
                        	enabled: false
                        },
                    
                        series: [{
                            name: 'Amount Tipped',
                            type: 'histogram',
                            binsNumber: 'rice',
                            xAxis: 1,
                            yAxis: 1,
                            baseSeries: 's1',
                            zIndex: -1
                        }, {
                            name: 'Data',
                            visible: false,
                            type: 'scatter',
                            data: data,
                            id: 's1',
                            marker: {
                                radius: 1.5
                            }
                        }]
                    }); 
                });
            });


</script>