
<div id="visits_heatmap_container" style="width:600px; height:600px;" %></div>

<script type="text/javascript">

        $(function () {
                // var processed_json = new Array();   
                $.getJSON('/async/visits', 
                                {
                                    ids: gon.ids,
                                    chart: 'visits_heatmap'
                                },
                                function(data) {

                    // draw chart
                     $('#visits_heatmap_container').highcharts({ 
                        chart: {
                            type: 'heatmap'
                            // marginTop: 40,
                            // marginBottom: 80,
                            // plotBorderWidth: 1
                        },
                    
                    
                        title: {
                            text: 'Number of Visits By Day and Time'
                        },
                    
                        xAxis: {
                            categories: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 
                                            'Thursday', 'Friday', 'Saturday']
                        },
                    
                        yAxis: {
                            categories: [
                                            '1 AM', '2 AM', '3 AM', '4 AM', '5 AM', '6 AM', '7 AM', 
                                            '8 AM', '9 AM', '10 AM', '11 AM', 'Noon', '1 PM', 
                                            '2 PM', '3 PM', '4 PM', '5 PM', '6 PM', '7 PM', 
                                            '8 PM', '9 PM', '10 PM', '11 PM', '12 PM'
                                        ],
                            title: null
                            // reversed: true
                        },
                    
                        // accessibility: {
                        //     point: {
                        //         descriptionFormatter: function (point) {
                        //             var ix = point.index + 1,
                        //                 xName = getPointCategoryName(point, 'x'),
                        //                 yName = getPointCategoryName(point, 'y'),
                        //                 val = point.value;
                        //             return ix + '. ' + xName + ' sales ' + yName + ', ' + val + '.';
                        //         }
                        //     }
                        // },
                    
                        colorAxis: {
                            min: 0,
                            minColor: '#FFFFFF',
                            maxColor: Highcharts.getOptions().colors[0]
                        },
                    
                        legend: {
                            align: 'right',
                            layout: 'vertical',
                            margin: 0,
                            verticalAlign: 'top',
                            y: 25,
                            symbolHeight: 280
                        },
                    
                        // tooltip: {
                        //     formatter: function () {
                        //         return '<b>' + getPointCategoryName(this.point, 'x') + '</b> sold <br><b>' +
                        //             this.point.value + '</b> items on <br><b>' + getPointCategoryName(this.point, 'y') + '</b>';
                        //     }
                        // },
                    
                        series: [{
                            name: 'Number of Visits By Time and Day',
                            borderWidth: 1,
                            data: data
                            // dataLabels: {
                            //     enabled: true,
                            //     color: '#000000'
                            // }
                        }]

                    }); 
                });
            });


</script>