<div id="parcel_status_ratio_timeline_container" 
     style="width:1500; height:900px; background: url('/assets/512px-Loader.gif'); background-repeat:no-repeat; background-position: center"></div>

<script type="text/javascript">

$(function() {
  $.getJSON('/async/rentals',
              {
                  chart: 'parcel_status_ratio_timeline'
              },
              function(data){
                
        $('#parcel_status_ratio_timeline_container').highcharts({
            chart: {
                type: 'area',
                marginBottom: 100,
                zoomType: 'x',
                style: {
                  fontFamily: 'Arial, Helvetica, Clean, sans-serif'
                },
                events: {
                  load: function() {
	                        document.getElementById('container').style.background = 'none';
                        }
                }
            },
            title: {
              text: 'Percent Parcel States Over Time'
            },
            // colors: data.colors,
            xAxis: {
              allowDecimals: false,
              type: 'category',
              crosshair: true,
              categories: data.dates,
              labels: {
                // align: 'left',
                reserveSpace: true
                // rotation: 270
              }
            },
          yAxis: {
            title: {
              text: 'Precent of Parcels'
            },
            min: 0,
            max: 100
            // visible: false,
            // startOnTick: false,
            // endOnTick: false
          },
          legend: {
            enabled: true
          },
          plotOptions: {
              area: {
                  stacking: 'normal'
              },
              series: {
                  label: {
                      minFontSize: 5,
                      maxFontSize: 15,
                      style: {
                          color: 'rgba(255,255,255,0.75)'
                      }
                  }
              }
          },
          series: data.data
        })
    });
});


</script>

