
<!-- error-section -->
<section class="error-section centred">
    <div class="container">
        <div class="content-box">
            <h1>400</h1>
            <h2>Gosh! There was a problem with accessing this page!</h2>
            <div class="text">More than likely you tried to access a page with 
            an expired or invalid token. Please return the the inworld object
            that directed you to this page and try again.
        </div>
    </div>
</section>
<!-- error-section end -->
