


    <!-- error-section -->
    <section class="error-section centred">
        <div class="container">
            <div class="content-box">
                <h1>500</h1>
                <h2>Oh Crap!, This is bad man...</h2>
                <div class="text">You found a huge error for us! Keep calm. The authorities have been notified. If this
                error perists please do not hesitate to notify us.</a></div>
            </div>
        </div>
    </section>
    <!-- error-section end -->

