<div id="vendor_sales_timeline_container" class: 'centered' 
     style="width:1600px; height:800px; background: url('/assets/512px-Loader.gif'); background-repeat:no-repeat; background-position: center"></div>

<script type="text/javascript">

  $(function () {
          // var processed_json = new Array();   
    $.getJSON('/async/sales/', 
                    {
                        chart: 'vendor_sales_timeline',
                        ids: gon.ids
                    },
                    function(data) {
  
        // draw chart
         $('#vendor_sales_timeline_container').highcharts({ 
            chart: {
              type: 'spline',
              zoomType: 'x',
              style: {
                  fontFamily: 'Arial, Helvetica, Clean, sans-serif'
              },
              events: {
                load: function() {
	                        document.getElementById('container').style.background = 'none';
                        }
              }
            },
            title: {
              text: 'Sales Over Time'
            },
            xAxis: {
              allowDecimals: false,
              type: 'datetime',
              categories: 
                 data.dates,
              accessibility: {
                  // rangeDescription: 'Range: 1940 to 2017.'
              }
            },
            yAxis: [{
            title: {
            	text: 'Number of Sales',
              style: {
                color: Highcharts.getOptions().colors[0]
              }
            },
            labels: {
              style: {
                color: Highcharts.getOptions().colors[0]
              }
            }
            }],
            series: [{
              name: 'Sales',
              yAxis: 0,
              data: data.counts
            }]
      });
    });
  });


</script>